@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

:root {
  /* Cores */
  --primary-color: #709775;
  --panel-color: #FFF;
  --text-color: #000;
  --black-light-color: #707070;
  --border-color: #E6E5E5;
  --toggle-color: #DDD;
  --box1-color: #4DA3FF;
  --box2-color: #FFE6AC;
  --box3-color: #E7D1FC;
  --title-icon-color: #FFF;
   /* Colors */

   --black: hsl(0, 0%, 0%);
   --white: hsl(0, 0%, 100%);

  /* Transição */
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-02: all 0.2s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background-color: #FFF;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 15%;
  padding: 10px 14px;
  background-color: var(--panel-color);
  border-right: 1px solid var(--border-color);
}

nav .logo-name {
  display: flex;
  align-items: center;
}

nav .logo-image {
  display: flex;
  justify-content: center;
  min-width: 45px;
}

nav .logo-image img {
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

nav .logo-name .logo-name-text {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 14px;
}

.menu-items {
  margin-top: 40px;
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-items li {
  list-style: none;
}

.menu-items li a {
  display: flex;
  align-items: center;
  height: 50px;
  text-decoration: none;
  position: relative;
}

.menu-items li a:hover:before {
  content: "";
  position: absolute;
  left: -7px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.menu-items li a i {
  font-size: 24px;
  min-width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-light-color);
}

.menu-items li a .link-name {
  font-size: 18px;
  font-weight: 400;
  color: var(--black-light-color);
}

.menu-items .logout-mode {
  padding-top: 10px;
  border-top: 1px solid var(--border-color);
}

.nav-links li a:hover {
  background-color: var(--toggle-color);
}

/* <------------------dashboard-----------------------> */

.dashboard {
  margin-left: 17%;
  /* Adicionado para ajustar o espaço da barra lateral */
}

.dashboard .content {
  padding: 20px;
}


/* CARD COMPONENT */
.categories {
  margin-bottom: 10px;
}

.category {
  margin-bottom: 50px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.card {
  width: 300px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: var(--white);
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}

.card img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  transition: opacity 0.2s ease-out;
}

.card h2 {
  position: absolute;
  inset: auto auto 30px 30px;
  margin: 0;
  transition: inset 0.3s 0.3s ease-out;
  font-family: var(--font-title);
  font-weight: normal;
  text-transform: uppercase;
}

.card p,
.card a,
.card button {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity 0.3s ease-out;
}

.card p {
  inset: auto auto 80px 30px;
}

.card a {
  inset: auto auto 40px 30px;
  color: inherit;
  text-decoration: none;
}
.card button {
  inset: auto auto 40px 30px;
  color: inherit;
  text-decoration: none;
}

.card:hover h2 {
  inset: auto auto 220px 30px;
  transition: inset 0.3s ease-out;
}

.card:hover p,
.card:hover a,
.card:hover button {
  opacity: 1;
  transition: opacity 0.5s 0.1s ease-in;
}

.card:hover img {
  transition: opacity 0.3s ease-in;
  opacity: 1;
}

.card .card_actions {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  gap: 5px;
}

.card .btn-table {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 30px;
  border-radius: 10%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #000;
}

.card .btn-table:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 960px) {
  nav {
    width: 10%;
    height: 100%;
    padding: 10px;
  }

  .logo-name .logo-name-text {
    display: none;
  }


  .menu-items li a .link-name {
    display: none;
  }
  .menu-items li a i {
    display: flex;
    justify-content: center;
  }

  .dashboard {
    width: 90%;
    margin-left: 12%;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .table-container {
    overflow-x: auto;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
  }

  .table th,
  .table td {
    padding: 8px;
    text-align: center;
  }
}

/* Tabela */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead th {
  padding: 10px;
  background-color: var(--panel-color);
  color: var(--text-color);
  text-align: center;
  border-bottom: 1px solid var(--border-color);
}

.table tbody td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
}

.table tbody tr:last-child td {
  border-bottom: none;
}

.search-label-column {
  position: relative;
}

.search-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* dropdown */

.dropdown {
  position: relative;
  display: inline-block;
  overflow: visible;
}


.dropdown-btn:hover + .dropdown-content,
.btn-table:hover + .dropdown-content {
  display: block;
}

.dropdown-content {
  position: absolute;
  display: none;
  top: 100%;
  left: 50%;
  transform: translateX(-60%);
  background-color: var(--panel-color);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  min-width: 160px;
  padding: 5px;
  z-index: 1;
}
.dropdown-content .dropdown-btn {
  display: block;
  flex-direction: column;
  text-align: center; /* Centralizar o conteúdo */
  text-decoration: none;
  color: var(--text-color);
  margin-bottom: 5px;
  text-align: center;
}

.dropdown-content a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: var(--text-color);
}

.dropdown-content form {
  display: flex;
  flex-direction: column;
  text-align: center; /* Centralizar o conteúdo */
}

.dropdown-content form input[type="text"] {
  width: 100%;
  height: 30px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid;
  margin-bottom: 5px;
}

.dropdown:hover .dropdown-content {
  display: none;
}

/* botões */

.search-form {
  width: 50%;
  height: 30%;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  margin-right: 5px;
}

.dropdown-btn {
  display: flex;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 5px 15px; /* Reduzindo o padding superior/inferior e esquerda/direita */
  /* margin-right: 20px; Reduzindo a margem direita */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-btn i {
  font-size: 24px;
  font-weight: bold;
  justify-content: center; /* Adicionado para centralizar o ícone horizontalmente */
  align-items: center; /* Adicionado para centralizar o ícone verticalmente */
}

.dropdown-btn:hover {
  background-color: #558f61;
}

.btn-table {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 0; /* Removido o padding */
  width: 30px; /* Largura fixa */
  height: 30px; /* Altura fixa */
  border-radius: 10%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex; /* Adicionado para centralizar o ícone verticalmente */
  justify-content: center; /* Adicionado para centralizar o ícone horizontalmente */
  align-items: center; /* Adicionado para centralizar o ícone verticalmente */
}
.btn-table i {
  font-size: 100%;
  font-weight: bold;
  justify-content: center; /* Adicionado para centralizar o ícone horizontalmente */
  align-items: center; /* Adicionado para centralizar o ícone verticalmente */
}
.btn-circle {
  border-radius: 50%; /* Formato de círculo */
}
.btn-table:hover {
  background-color: #558f61;
}

.dropdown:hover .btn-table + .dropdown-content {
  display: none;
}

/* Outros elementos */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
}

.error-message {
  margin-bottom: 10px;
  color: red;
}

.success-message {
  margin-bottom: 10px;
  color: green;
}